@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@font-face {
  font-family: "marathon";
  src: url("/body.otf") format("opentype");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: ppFraktionMono;
  src: url("/PPFraktionMono-Regular.otf") format("opentype");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
/* Global styles */
* {
    box-sizing: border-box;
}

body,
html {
    height: 100%;
}

/* Body styles */
body {
    background-color: rgb(0, 0, 0);
    color: white;
    /*font-family: "Poppins", sans-serif;*/
    font-family: ppFraktionMono;

    /* Readable line length */
    max-width: 1060px;
    margin-inline: auto;

    /* Fix height */
    padding-block: 1px;
    margin-block: 0;
}

/* General styles */
h1 {
    text-align: center;
    font-family: "marathon";
    color: #c3ff0b;
}

/* Cleaner links */
:where(a) {
    color: #66f;
    text-underline-offset: 0.2em;
}
:where(a):visited {
    color: #d59;
}
.data a,
.data span,
.data tr,
.data td {
    white-space: pre-wrap;
}
/* Class styles */
.stuff {
    text-align: center;
    padding-left: 60px;
    padding-right: 60px;
}

canvas {
    display: block;
    position: fixed;
    z-index: -1;
}

#qc-webring-footer {
    display: flex;
    flex-direction: row;
    height: 10vmin;
    justify-content: space-between;
    padding: 1vmin;
}

#qc-webring-footer a {
    transition: transform 0.5s ease-in-out;
}

#qc-webring-footer a:hover {
    transform: scale(1.05);
}

#qc-webring-footer img {
    height: 10vmin;
}
