@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata&display=swap");

/* Global styles */
* {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}

/* Body styles */
body {
  background-color: rgb(24, 26, 27);
  color: white;
  font-family: "Poppins", sans-serif;

  /* Readable line length */
  max-width: 1060px;
  margin-inline: auto;

  /* Fix height */
  padding-block: 1px;
  margin-block: 0;
}

/* General styles */
h1 {
  text-align: center;
}

/* Cleaner links */
:where(a) {
  color: #66f;
  text-underline-offset: 0.2em;
}
:where(a):visited {
  color: #d59;
}

/* Class styles */
.stuff {
  text-align: center;
  padding-left: 60px;
  padding-right: 60px;
}

canvas {
  display: block;
  position: fixed;
  z-index: -1;
}
img {
    float: left;
    width:  100px;
    height: 100px;
    object-fit: cover;
}
